@import 'reset.css';

@font-face {
  font-family: "Noto Sans";
  src: url("../assets/fonts/NotoSans-Regular.ttf") format("woff2");
}

* {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
  max-width: 1920px;
  height: 1750px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1400px;
  height: 100%;
  max-height: 124px;
  padding: 0 13%;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(12, 47, 136, 0.15);

  &-logo {
    width: 106,25px;
    height: 50px;
  }

  &-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 596px;
    height: 27px;

    &-navItems {
      font-family: 'Noto Sans';
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 27px;
      letter-spacing: -0.015em;
      text-align: left;
      color: #3F4449;
      cursor: pointer;

      &:hover {
        font-weight: 800;
        text-shadow: 0px 0px 1px #3F4449;
      }
    }
  }

  &-searchForm {
    display: flex;
    align-items: center;
    position: relative;
  }

  &-search {
    height: 48px;
    width: 431px;
    border: 1px solid #3F4449;
    box-sizing: border-box;
    border-radius: 2px;

    & input[type=text] {
      font-family: 'Noto Sans';
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 27px;
      letter-spacing: -0.015em;
      text-align: left;
      color: #3F4449;
    }
  }

  &-searchButton {
    position: absolute;
    right: 1px;
    width: 46px;
    height: 46px;
    background: #3F97FB;
    border: 0;
    border-radius: 0px 1px 1px 0px;

    &:hover {
      border: 1px solid #3F4449;
    }
  }

  &-person {
    display: flex;
    align-items: center;

    &-login {
      margin-left: 12px;
      font-family: Noto Sans;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0em;
    }

    &:hover {
      cursor: pointer;
      text-shadow: 0px 0px 1px #3F4449;
    }
  }
}

.main {

  &-info {
    width: 100%;
    max-width: 1920px;
    height: 620px;
    background: url('../assets/images/Cover.png');

    &-header {
      display: flex;
      align-items: center;
      height: 345px;
      width: 528px;
      padding-left: 13%;
      font-family: Noto Sans;
      font-size: 42px;
      font-style: normal;
      font-weight: 700;
      line-height: 49px;
      letter-spacing: 0em;
      color: #FFFFFF;
    }

    &-cards {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 21%;
    }

    &-cardArea {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      height: 198px;
      width: 350px;
      background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #FFFFFF;
    }

    &-cardArticle {
      width: 350px;
      height: 20px;
      font-family: Noto Sans;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 24px;
      text-align: center;
      text-transform: uppercase;
      color: #0158BA;
    }

    &-cardText {
      width: 282px;
      height: 72px;
      font-family: Noto Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: #3F4449;
    }

    &-cardLink {
      align-self: baseline;
      padding-left: 33px;
      font-family: Noto Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: #3F97FB;

      &:hover {
        cursor: pointer;
        text-shadow: 0px 0px 1px #7bb7f3;
      }
    }
  }

  &-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1920px;
    height: 800px;
    background: #F3FAFF;

    &-header {
      margin-top: 69px;
      font-family: Noto Sans;
      font-style: normal;
      font-weight: 600;
      font-size: 36px;
      line-height: 24px;
      color: #0158BA;
    }

    &-slider {
      display: flex;
      width: 1272px!important;
      height: 567px;
      justify-content: space-between;
    }

    &-slide {
      display: flex!important;
      flex-direction: column;
      width: 605px!important;
      height: 548px;
      filter: drop-shadow(0px 7px 6px rgba(16, 65, 187, 0.15));
    }

    &-articleArea {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-evenly;
      height: 178px;
      background: #FFFFFF;
    }

    &-slideArticle {
      padding-left: 32px;
      font-family: Noto Sans;
      font-style: normal;
      font-weight: 600;
      font-size: 28px;
      line-height: 38px;
      color: #0158BA;
    }

    &-slideText, &-slideLink {
      padding-left: 32px;
      width: 538px;
      font-family: Noto Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 150%;
      color: #364D78;
    }

    &-slideLink {
      color: #3F97FB;

      &:hover {
        cursor: pointer;
        text-shadow: 0px 0px 1px #7bb7f3;
      }
      
    }
  }
}

// slick
.slider {
  margin: 52px 0 0 0 !important;
}

.slick {
  &-slide {
    margin: 0px 20px;
    opacity: 1!important;
    transition: all ease-in-out .3s;
    opacity: .2;

    & img {
      width: 100%;
    }
  }

  &-prev {
    left: -57px;
  }

  &-next {
    right: -35px;
  }

  &-prev, &-next {

    &:before {
      font-size: 50px;
      font-weight: 900;
      line-height: 0;
      opacity: 1;
      color: white;
      text-shadow: 0 0 4px #3f97fb;
    }

  }
  

  &-current {
    opacity: 1;
  }

  &-dots {
    bottom: -46px;

    & li button:before {
      font-size: 14px;
      color: #3F97FB!important;
    }
  }
}
