@import 'reset.css';
@font-face {
  font-family: "Noto Sans";
  src: url("../assets/fonts/NotoSans-Regular.ttf") format("woff2");
}
* {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
  max-width: 1920px;
  height: 1750px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1400px;
  height: 100%;
  max-height: 124px;
  padding: 0 13%;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(12, 47, 136, 0.15);
}
.header-logo {
  width: 106, 25px;
  height: 50px;
}
.header-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 596px;
  height: 27px;
}
.header-nav-navItems {
  font-family: "Noto Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: -0.015em;
  text-align: left;
  color: #3F4449;
  cursor: pointer;
}
.header-nav-navItems:hover {
  font-weight: 800;
  text-shadow: 0px 0px 1px #3F4449;
}
.header-searchForm {
  display: flex;
  align-items: center;
  position: relative;
}
.header-search {
  height: 48px;
  width: 431px;
  border: 1px solid #3F4449;
  box-sizing: border-box;
  border-radius: 2px;
}
.header-search input[type=text] {
  font-family: "Noto Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: -0.015em;
  text-align: left;
  color: #3F4449;
}
.header-searchButton {
  position: absolute;
  right: 1px;
  width: 46px;
  height: 46px;
  background: #3F97FB;
  border: 0;
  border-radius: 0px 1px 1px 0px;
}
.header-searchButton:hover {
  border: 1px solid #3F4449;
}
.header-person {
  display: flex;
  align-items: center;
}
.header-person-login {
  margin-left: 12px;
  font-family: Noto Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
}
.header-person:hover {
  cursor: pointer;
  text-shadow: 0px 0px 1px #3F4449;
}

.main-info {
  width: 100%;
  max-width: 1920px;
  height: 620px;
  background: url("../assets/images/Cover.png");
}
.main-info-header {
  display: flex;
  align-items: center;
  height: 345px;
  width: 528px;
  padding-left: 13%;
  font-family: Noto Sans;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 49px;
  letter-spacing: 0em;
  color: #FFFFFF;
}
.main-info-cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 21%;
}
.main-info-cardArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 198px;
  width: 350px;
  background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #FFFFFF;
}
.main-info-cardArticle {
  width: 350px;
  height: 20px;
  font-family: Noto Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #0158BA;
}
.main-info-cardText {
  width: 282px;
  height: 72px;
  font-family: Noto Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #3F4449;
}
.main-info-cardLink {
  align-self: baseline;
  padding-left: 33px;
  font-family: Noto Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #3F97FB;
}
.main-info-cardLink:hover {
  cursor: pointer;
  text-shadow: 0px 0px 1px #7bb7f3;
}

/*# sourceMappingURL=style.css.map */
